#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Qtesseract5
GenericName=SUB Converter
GenericName[fr]=Convertisseur SUB
Comment=Convert the SUB files to SRT files
Comment[fr]=Convertisseur de fichiers SUB en fichiers SRT
TryExec=qtesseract5
Exec=qtesseract5 %U
Icon=qtesseract5
Categories=AudioVideo;AudioVideoEditing;
Terminal=false
StartupNotify=true
MimeType=text/x-microdvd;text/x-mpsub;text/subviewer;
